[submodule "SnapKit/"]
	path = SnapKit/
	url = https://7atem328@github.com/SnapKit/SnapKit
[submodule "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCYfGavid4jF2hbEWVPP94fXDunnzrc8CFaL0aXJDSoxm0zcSIfECIUFVkKbUh0pLm1XgSYD4S637nlt5zAcLMPPgp/V/ho9JVXOIEwJJ8OhZoAqLQR/QLwwzSQzG3/9wu4NadChaxRba1osbFdhdde7cMH+Ejt9hewwroUQtpz1aRAs2ddYUAmP7Ol3id6SSyvPnxKhvqgn9xWmZOLiQEMKhn0048oyiS2LY7XIvsbs681HRDb766ccczV2GOwAdg5dT44d/Rm2IithMn6JqIIhYpmGFhPNJOiC1GC8nHY6Tyd+k+FriU4L4EhDY7lEgr16br1TemRRPg0SKVm44JeVdmxEA1dJuelEHQmHnoLQbLf+048Im4gRERNjl+R1l4SK7vZz52vA8x179vpYY4Vj4TdRLOo2tR5TL7IsqyLmSY3gAdu/qFYKCBi84GI9vhL+wYepHDN/Td14ydCmX1mtHP+jSyNOPxKSodyuit5EQdwxbKUprrRL5an0M395ag96MW8pnifoF0Zv7AIMBKa/JpoaBGFyVlYQx1mnxXXfM/0NnBc+pG3YLI4hFQ1XerAW2qnCpb38snkcEaYgQPLbNRGiV2EXwA5+mX3m4qw8qC3KylTifxGFuPj8wMUdjbsKt3vDE/9WAzQY798bxGWakvgIxfelqYZuEeO1f0gUQ== WorkingCopy@Hatem13Pro-07112021"]
	path = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCYfGavid4jF2hbEWVPP94fXDunnzrc8CFaL0aXJDSoxm0zcSIfECIUFVkKbUh0pLm1XgSYD4S637nlt5zAcLMPPgp/V/ho9JVXOIEwJJ8OhZoAqLQR/QLwwzSQzG3/9wu4NadChaxRba1osbFdhdde7cMH+Ejt9hewwroUQtpz1aRAs2ddYUAmP7Ol3id6SSyvPnxKhvqgn9xWmZOLiQEMKhn0048oyiS2LY7XIvsbs681HRDb766ccczV2GOwAdg5dT44d/Rm2IithMn6JqIIhYpmGFhPNJOiC1GC8nHY6Tyd+k+FriU4L4EhDY7lEgr16br1TemRRPg0SKVm44JeVdmxEA1dJuelEHQmHnoLQbLf+048Im4gRERNjl+R1l4SK7vZz52vA8x179vpYY4Vj4TdRLOo2tR5TL7IsqyLmSY3gAdu/qFYKCBi84GI9vhL+wYepHDN/Td14ydCmX1mtHP+jSyNOPxKSodyuit5EQdwxbKUprrRL5an0M395ag96MW8pnifoF0Zv7AIMBKa/JpoaBGFyVlYQx1mnxXXfM/0NnBc+pG3YLI4hFQ1XerAW2qnCpb38snkcEaYgQPLbNRGiV2EXwA5+mX3m4qw8qC3KylTifxGFuPj8wMUdjbsKt3vDE/9WAzQY798bxGWakvgIxfelqYZuEeO1f0gUQ== WorkingCopy@Hatem13Pro-07112021
	url = https://7atem328@github.com/SnapKit/SnapKit
